<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lumen Lane Ecommerce Automation Suite" verbose="1" preserve-order="true">
    <test name="Register and Login Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.AuthFlowTests"/>
            <class name="com.ecommerce.automation.tests.RegisterExcelTests"/>
        </classes>
    </test>
    <test name="Product Search Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.ProductSearchTests"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.CartTests"/>
        </classes>
    </test>
    <test name="Checkout and Orders Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.CheckoutAndOrdersTests"/>
        </classes>
    </test>
    <test name="Customer Account Page Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.CustomerAccountPagesTests"/>
        </classes>
    </test>
</suite>
