<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lumen Lane Ecommerce Automation Suite" verbose="1" preserve-order="true">
    <test name="Register and Login Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.AuthFlowTests"/>
        </classes>
    </test>
    <test name="Product Search Tests">
        <classes>
            <class name="com.ecommerce.automation.tests.ProductSearchTests"/>
        </classes>
    </test>
</suite>
